---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #FFF;
$iron: #FF2E63;
$cloudy: #333333;;

@import
    "mixins",
    "default",
    "404"
;
