---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #FFF;
$iron: #FF2E63;
$star: #2274A5;
$cloudy: #333333;
$lemonade: #F1C40F;
$greenpantone: #85b24f;

@import
    "mixins",
    "default",
    "404"
;
