/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing='0'' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

body {
 background-image:url('img/png-1.png');
 background-repeat:repeat;
 background-attachment:fixed;
 overflow-x:hidden;
 font-family: 'Bad Script', cursive;
}
h1{
    letter-spacing:.5em;
    font-family:'Codystar';
    line-height:40px;
    font-size:24px;
    color: black;
}
h2{
    letter-spacing:.5em;
    font-family:'Codystar';
    line-height:40px;
    font-size:20px;
    color:black;
}
h3{
    letter-spacing:.5em;
    line-height:40px;
    font-size:18px;
    padding-bottom: 10px;
    padding-top: 10px;
}
h5{
  font-size:16px;
  font-weight:bold;
  font-family:'Codystar';
}
p{
    letter-spacing:4px;
    margin:10px;
}
a{
    text-decoration:none;
    padding:1px;
    color:white;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    border-radius:10px;
}
a:hover {
    color:rgb(4, 97, 141);
    background-color: white;
}
.header {
    padding:20px;
    width:920px;
    border: transparent #887F7F 1px;
    background:rgba(255,255,255,.7);
    border-radius:0 10px 10px 0;
    color:rgb(4, 97, 141);
}
.header p {
    letter-spacing:.5em;
    font-size:15px;
}
.map {
    width:620px;
    height:480px;
    border-radius:20px;
}
.main-content{
    max-width: 1260px;
    min-width: 1260px;
}
.container {
     width:640px;
     padding:20px;
     margin: 65px 0px 0px 250px;
}
.container a:hover{
    border-radius:5px;
    background:rgba(255,255,255,.7);
    text-decoration: none;
}
.container.underline a{
text-decoration: underline;
}
.container.underline a:hover{
text-decoration: none;
}
.container.color{
    background-color:rgba(4, 97, 141, .7);
    color:whiteSmoke;
    padding: 10px 0px 20px 20px;
    border-radius:10px;
    margin:65px 0px 0px 300px;
}
.container.color p {
    font-size:15px;
    padding:10px;
    line-height:22px;
    font-family:'Source Sans Pro';
    font-weight:200;
}
.container.color h4{
    text-align:right;
    padding:0px 20px 0px 0px;
    letter-spacing: .1em;
    font-family:'Source Sans Pro';
}
.container.color h5 {
    text-align:center;
    padding-top: 15px;
}
.container.color img.about {
    padding:30px 0px 0px 60px;
}
.container.color li  {
    margin:10px;
    text-align:center;
    font-size:17px;
    letter-spacing:4px;
}
h3.fancy {
    font-family:'Bad Script';
}
.body-post{
    font-family:'Source Sans Pro';
    font-weight:200;
}
.back {
    padding: 15px 0 0 0;
    font-weight:200;
}
.italic{
    font-weight:300;
    font-style:italic;
}
.nav {
    width:200px;
    position: absolute;
    top:170px;
    left: 0px;
    padding-left:10px
}
.nav .wrapper {
    position:relative;
}
.nav a, .nav a:hover {
    font-size:25px;
    margin:10px;
    display:block;
    padding:10px;
}
.nav a.active{
   color:rgb(4, 97, 141);
   background-color: white;
}
.nav a img {
    border:none
}
/*.nav .mugs a {
    display:inline-block; 
    width:150px; 
    height:150px; 
    background:url("img/mugs-hover-2.png") left top no-repeat;
}
.nav .abs a {
    display:inline-block;
    width:150px; 
    height:150px; 
    background:url("img/abstract-hover-2.png") left top no-repeat;
}
.nav .written a {
    display:inline-block;
    width:150px;
    height:150px;
    background:url("img/written-hover.png") left top no-repeat;
}
.nav .home a {
    display:inline-block;
    width:150px;
    height:150px; 
    background:url("img/home-hover.png") left top no-repeat;
}
.nav a:hover img {
    position:absolute;
    left:-999em; 
    top:-999em; }
/* ie6 needs his fix*/
.nav a:hover {zoom:1;}

#footer {
    padding:20px 0px 20px 430px;
    font-size:15px;
}
.container.color.archive h5 {
    text-align: center;
    padding-top: 30px;
}
.archive table{
    font-family:'Source Sans Pro';
    font-size: 15px;
    padding: 10px;
    line-height: 22px;
    font-weight: 200;
}
.archive table th{
    padding:20px 45px 10px 10px;
}
.archive table tr a{
    margin:25px;
    border-radius:0px;
    color:white;
}
.archive table tr a:hover{
    background-color:rgba(255, 255, 255, .0);
    color:#04618D;
}
.archive table tr:hover{
    background:rgba(255, 255, 255, .7);
    color:rgb(4, 97, 141);
}
.archive table tr.blog-header{
    background-color: rgba(255, 255, 255, .0);
    color:white;
}
.archive table tr:hover a{
    color:rgb(4, 97, 141);
}
table.archive tbody tr td{
    margin:10px;
    padding:10px 10px 10px 10px;
    padding-left: 25px;
    padding-right:30px;
}

.emphasis {
	font-weight:600;
}
.carousel {
  position: relative;
  margin-bottom: 18px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
      -ms-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel .item > img {
  display: block;
  line-height: 1;
}

.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}

.carousel .active {
padding: 30px 0px 0px 0px;
}

.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .next {
  left: 100%;
}

.carousel .prev {
  left: -100%;
}

.carousel .next.left,
.carousel .prev.right {
  left: 0;
}

.carousel .active.left {
  left: -100%;
}

.carousel .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 15px 5px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
}

.highlight pre, pre {
background-color: #F8F8F8;
border: 1px solid #CCC;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 6px 10px;
border-radius: 3px;
color: #555;
text-shadow: 0 1px 0 white;
width: 600px;
}
pre code, pre tt {
background-color: transparent;
border: none;
font-family: Consolas,"Liberation Mono",Courier,monospace;
}
pre > code {
margin: 0;
padding: 0;
white-space: pre;
border: none;
background: transparent;
}
/* ------------------------------------------
  Lil Helpers ♥
---------------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
