body {background-image:url('img/png.png'); background-repeat:repeat; background-attachment:fixed; overflow-x:hidden; font-family: 'Bad Script', cursive;}
h1{letter-spacing:.5em;font-family:'Codystar';line-height:40px;}
h2{letter-spacing:.5em;font-family:'Codystar';line-height:40px;}
p{letter-spacing:.5em; margin: 1em;}
a{text-decoration:none;padding:1px;color:rgb(4, 97, 141);-webkit-transition: background-color 0.1s linear;transition: background-color 0.1s linear;border-radius:10px;}
a:hover {color: white;background-color:rgb(4, 97, 141);}
.header {height:120px;padding:10px;width:75%;border: transparent #887F7F 1px;background:rgba(255,255,255,.7);border-radius:10px;}
.container {min-width:30em; max-width:40em;margin:4em auto; padding:20px;}
.container.white { background-color:rgba(4, 97, 141, .7);color:whiteSmoke;padding: 1px 0px 10px 20px;border-radius:10px;}
.nav {width:200px; height:500px; position: absolute;top: 192px;left: 0px;}
.nav .wrapper {position:relative;padding:0.5em;}    
.nav a img {border:none}
.nav .mugs a {display:inline-block; width:150px; height:150px; background:url("img/mugs-hover-2.png") left top no-repeat;}
.nav .abs a {display:inline-block; width:150px; height:150px; background:url("img/abstract-hover-2.png") left top no-repeat;}
.nav .written a {display:inline-block; width:150px; height:150px; background:url("img/written-hover.png") left top no-repeat;}
.nav .home a {display:inline-block; width:150px; height:150px; background:url("img/home-hover.png") left top no-repeat;}
.nav a:hover img {position:absolute; left:-999em; top:-999em; }
/* ie6 needs his fix*/
.nav a:hover {zoom:1;}
img.inkscape {position:absolute;left:380px;}