<!DOCTYPE html>
{% assign base = site.baseurl %}
<html>
<head>
<meta charset="utf-8" />
<link rel="shortcut icon" href="{{base}}/img/favicon.ico">
<title>Winter Scars</title>
<link rel="stylesheet" href="{{base}}/style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet'>
<link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,300italic' rel='stylesheet'>
<link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.3/mapbox.css' rel='stylesheet' />
<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.3/mapbox.js'></script>
<script src='{{site.baseurl}}/js/jquery.min.js'></script>
<script src='{{site.baseurl}}/js/bootstrap-carousel.js'></script>
<script src='{{site.baseurl}}/site.js'></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35445248-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body {% if page.class %}class="{{page.class}}"{% endif %}  onload="prettyPrint()">
<div class="nav">
    <div class="wrapper" id='home'>
     <div class="home">
      <a href="{{base}}/" {% if page.class == nil %}class='active'{% endif %}>Home<!-- <img src="{{base}}/img/home.png" height="150" width="150" alt=""/> --></a>
     </div>
    </div>
    <div class="wrapper">
     <div class="written">
     <a href="{{base}}/written" {% if page.class == "words" %}class="active"{% endif %}>
		 Written<!-- <img src="{{base}}/img/written.png" height="150" width="150" alt=""/> --></a>
     </div>
    </div>
   <div class="wrapper">
    <div class="abs">
      <a href="{{base}}/abstract" {% if page.class == "abstract" %}class="active"{% endif %}>Abstract<!-- <img src="{{base}}/img/abstract-2.png" height="150" width="150" alt=""/> --></a>
   </div>
   </div>
   <div class="wrapper">
    <a href="{{base}}/music" {% if page.class == "music" %}class="active"{% endif %}>Music</a>
   </div>
   <div class="wrapper">
    <a href="{{base}}/archive" {% if page.class == "archive" %}class="active"{% endif %}>Archive</a>
   </div>
   <div class="wrapper">
    <a href="{{base}}/about" {% if page.class == "about" %}class="active"{% endif %}>About</a>
   </div>
   <div class="wrapper">
    <a href="http://feeds.feedburner.com/mayarichman/">RSS</a>
   </div>
 </div>
{{content}}
<div id='footer'>Thank you for visiting, be sure to stop by my <a href='http://www.twitter.com/mayarichman' target='_blank'>Twitter</a> and <a href='http://www.github.com/mayarichman' target='_blank'>Github</a>, if you like what you see.</div>
</body>
</html>
